<mat-list dense >
  <h1> View Bank Statement </h1>
  <br>
    <div class="head">
  <form [formGroup]= "form"  >
     <form-fin-account-selector [formControlName]="'finAccountId'" [parentForm]="form"></form-fin-account-selector>
      <mat-form-field>
        <mat-label>Month</mat-label>
        <mat-select  formControlName ="month" [value]="currentDate.getMonth()+1" required>
          <mat-option *ngFor="let month of months"  [value]=month >
            {{month}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select formControlName ="year"  required>
          <mat-option *ngFor="let year of years"  [value]=year >
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
          <mat-label>File No.</mat-label>
          <mat-select formControlName ="fileNumber" >
              <mat-option *ngFor="let count of fileCounts"  [value]=count >
                  {{count}}
              </mat-option>
          </mat-select>
      </mat-form-field>
  </form>
        <span class="space"></span>
        <button mat-icon-button [disabled]="!isAllowDownload" (click)="downloadFile()" ><mat-icon>cloud_download</mat-icon></button>
      <button mat-icon-button [disabled]="!isAllowDownload" (click)="deleteBankStatement()" ><mat-icon>delete</mat-icon></button>
    </div>
  <mat-divider></mat-divider>
  <!--<div *ngIf = 'isLoading' class= "spinner"><mat-spinner ></mat-spinner>-->
    <!--<div style="position:relative; top: -60px; left: 20px;"> Loading </div>-->
  <!--</div>-->
  <loading-spinner [isLoading]="isLoading"></loading-spinner>
  <div *ngIf="!isLoading">
    <div *ngIf="fileNotfound">
      <p> No records.</p>
    </div>
    <div *ngIf="!fileNotfound ">
      <pdf-viewer [src]="pdfSrc" [render-text]="false" style="display:block"></pdf-viewer>
    </div>

  </div>


  <br>
</mat-list>
<div class = "footer">
<button mat-mini-fab color = "primary" (click)="addRecord()"><mat-icon>add</mat-icon></button>
</div>
