<mat-list dense >
    <h1> Upload Bank Statement </h1>
    <br>
        <form [formGroup]= "form" (submit)="onSave()" >
            <div class="head">
            <input hidden="true"   id="input-file-id" (change)="OnStatementPick($event)" multiple type="file" />
            <label for="input-file-id" class="mat-raised-button">Choose Files</label>
            <span class= "space"></span>
                <form-fin-account-selector [parentForm]="form" [formControlName]="'account'"></form-fin-account-selector>
                <mat-form-field>
                    <mat-label>Month</mat-label>
                    <mat-select formControlName ="month" [value]="currentDate.getMonth()+1" required>
                        <mat-option *ngFor="let month of months"  [value]=month >
                            {{month}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Year</mat-label>
                    <mat-select formControlName ="year"  required>
                        <mat-option *ngFor="let year of years"  [value]=year >
                            {{year}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="form.invalid" >Upload File</button>
            </div>
        </form>
    <mat-divider></mat-divider>
    <loading-spinner [isLoading]="isLoading"></loading-spinner>
    <div *ngIf="form.get('bank_statement').hasError('invalidfile')"> Upload file is not a valid pdf file. </div>
    <div *ngIf="!isLoading">
        <pdf-viewer [src]="pdfSrc" [render-text]="false" style="display:block"></pdf-viewer>
    </div>
    <br>
</mat-list>

