<h1>Change Password</h1>
<hr>
<div style="text-align: center">
<form autocomplete="off" [formGroup]= "form" (submit)="changePassword()" >
  <mat-form-field>
    <input formControlName="old_password"
           matInput
           name="old_password"
           placeholder="Old Password"
           required
    >
    <mat-error>
      <div *ngIf="form.get('old_password').hasError('required')">This field is required</div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
  <input (ngModelChange)=checkPasswordStrength($event)
     formControlName="new_password"
         matInput
         name="new_password"
         placeholder="New Password"
         required
  >
    <mat-error>
      <div *ngIf="form.get('new_password').hasError('required')">This field is required</div>
      <div  *ngIf="form.get('new_password').hasError('minlength')">Length should be greater than 6  <br></div>
      <div  *ngIf= "form.get('new_password').hasError('specialChar')"> At least one special character such as !@#$%^&*  <br></div>
      <div  *ngIf= "form.get('new_password').hasError('lowerChar')"> Should include at least one lower case letter  </div>
      <div  *ngIf= "form.get('new_password').hasError('upperChar')"> Should include at least one upper case letter </div>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
  <input formControlName="new_password_confirm"
         matInput
         name="new_password_confirm"
         placeholder="Confirm Password"
         required
  >
    <mat-error>
      <div *ngIf="form.get('new_password_confirm').hasError('required')">This field is required</div>
      <div *ngIf="form.get('new_password_confirm').hasError('difference')">The password is not equal to your first password</div>
    </mat-error>
  </mat-form-field>
  <br>
  <button type="submit"  mat-raised-button style="margin-top: 10px"> Submit</button>
</form>
</div>
