mat-form-field,textarea{
  width:100%;

}

.mat-raised-button{
  background-color:rgba(211, 210, 210, 0.808);
  height:40px;
}

mat-form-field{
  margin-top: 1rem;
}

.password{
  font-size: 5px;
}


input[type=":afterpassword"][title]:hover {
    font-style: italic;
    color:gray;
}

progress.strong {
  background-color: greenyellow;
}

progress.good {
  background-color: yellow;
}
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

::-webkit-progress-bar {
  background-color: rgba(184, 184, 184, 0.877);
  border-radius: 7px;

}
.weak::-webkit-progress-value { background: rgb(247, 101, 101); border-radius: 5px; }
.good::-webkit-progress-value { background: yellow;  border-radius: 5px; }

.strong::-webkit-progress-value { border:0; background: greenyellow;  border-radius: 5px; }

p.weak {
color: rgb(247, 101, 101)
}

p.good {
  color: rgb(20, 161, 84)
  }

p.strong {
  color: green
}

p {
  font-size: 12px;
}
